body {
    --ion-color-primary: rgb(24, 117, 194);
}

ion-tab-bar, ion-tab-button {
    color: black;
}

ion-tab-bar:hover, ion-tab-button:hover ion-label {
    color: black;
}

.tab-bar-button {
    width: 25px;
    height: 25px;
}

.tab-bar-green {
    background-color: #C6F3D2 !important;
}

.selected-tab-green {
    background-color: #95E79D;
    color: black;
}

.tab-bar-blue {
    background-color: #C6F0F3 !important;
}

.selected-tab-blue {
    background-color: #95D8E7;
    color: black;
}